on: [push]
jobs:
  build-and-static-analysis:
    runs-on: ubuntu-latest
    container:
      image: rlarabel/msp430-gcc.9.3.1.11:latest
    steps:
      - name: Checkout the respository
        uses: actions/checkout@v3
      - run: make format && git diff --quiet
      - run: make cppcheck  
      - run: TOOLS_PATH=/home/ubuntu/ti make HW=JR
      - run: TOOLS_PATH=/home/ubuntu/ti make HW=LAUNCHPAD
      - run: TOOLS_PATH=/home/ubuntu/ti tools/build_tests.sh
